@keyframes tilt-right-left {
    0% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}

.pokeball.animate-tilt {
    animation: tilt-right-left 3s infinite ease-in-out;
}